
<div class="container div-principal">
  <div class="row">
    <div class="col-sm">
      <h1>Quem chega antes tem mais segurança, liberdade e transparência ¯\_(ツ)_/¯</h1>
      <h5>As melhores práticas do mercado para você e mais de 3,7 milhões
        de clientes negociarem mais de 200 ativos digitais em um único lugar.</h5>
      <h6>Compre, venda, guarde e transfira seus criptoativos quando e onde quiser.</h6>
    </div>

    <div class="col-sm">
      <img src="assets/gif%20money.gif">
    </div>
  </div>
</div>
